@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Rozha+One&display=swap');
*{
  box-sizing: border-box;
}

:root{
  --tittle-font: 'Rozha One', cursive;
  --body-font: 'Roboto', sans-serif;
  --white-color: #fbfbf3;
  --black-color: #141720;
  --primary-color: #0bab7b;
  --secondary-color: #c8f4c3;
  --tertiary-color: #d7cffe;
}