@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Rozha+One&display=swap');
*{
  box-sizing: border-box;
}

:root{
  --tittle-font: 'Rozha One', cursive;
  --body-font: 'Roboto', sans-serif;
  --body-font-thin: 300;
  --body-font-regular: 500;
  --body-font-bold: 700;
  --white-color: #fbfbf3;
  --black-color: #141720;
  --primary-color: #0bab7b;
  --secondary-color: #c8f4c3;
  --tertiary-color: #d7cffe;
  --red-color: #b00020;
}

.fill-red{
  color: var(--red-color);
}

html{
  font-size: 62.5%;
}

body{
  font-family: var(--body-font);
  font-weight: var(--body-font-thin);
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--black-color);
  background-color: var(--white-color);
  margin: 1.2rem 0 0 0;
  padding: 0;
}

h1{
  font-size: 4.2rem;
  line-height: 1.2;
  color: var(--black-color);
  margin: 1.6rem 0;
  padding: 0;
  text-align: center;
}

h2{
  font-family: var(--tittle-font);

}

#root{
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3.2rem;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.todoapp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
  width: 50rem;
  min-width: 40rem;
  margin-right: 4rem;
  border-radius: 3.2rem;
  border: 1px solid var(--tertiary-color);
  background: linear-gradient(0deg, rgba(215,207,254,1) 14%, rgba(251,251,243,1) 63%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.todoapp img{
  width: 70%;
  height: auto;
  object-fit: cover;
}

.todolist{
  display: flex;
  flex-direction: column;
  height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

.create-todo-form{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.create-todo-form input{
  width: 100%;
  height: 2.5rem;
  border: none;
  border-bottom: 1px solid var(--black-color);
  padding: 0.5rem;
  font-size: 1.6rem;
  font-weight: var(--body-font-thin);
  color: var(--black-color);
  outline: none;
}

.create-todo-form button{
  margin-top: 2rem;
  width: 8rem;
  height: 3.2rem;
  border: var(--primary-color) solid 1px;
  border-radius: 0.8rem;
  background-color: var(--secondary-color);
  color: var(--black-color);
  font-size: 1.6rem;
  outline: none;
  cursor: pointer;
  box-shadow: var(--primary-color) 0.3rem 0.3rem 0;
}

.create-todo-form button:active{
  transform: translateY(0.3rem) translateX(0.3rem);
  box-shadow: var(--black-color) 0 0 0;
}

.search-todo{
  display: flex;
  border: var(--tertiary-color) solid 1px;
  border-radius: 0.5rem;
  width: 40rem;
  max-width: 40rem;
  min-width: 20rem;
  height: 4rem;
  flex-direction: column;
  padding: 0.8rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.search-todo:focus{
  outline: none;
}

.todo-container{
  display: grid;
  align-items: center;
  width: 40rem;
  margin: 1.2rem 0;
  padding-left: 0.8rem;
  grid-auto-flow: row;
  grid-template-columns: 4rem 24rem 6rem;

}

.todo-container p{
  margin: 0;
  margin-left: 1.2rem;
  padding: 0;
}

.last-item{
  margin-right: auto;
}

.checkbox-simulation{
  width: 2.6rem;
  height: 2.6rem;
  border: var(--primary-color) solid 1px;
  border-radius: 0.4rem;
  margin-right: 0.8rem;
}

.checkbox-simulation:hover{
  background-color: var(--primary-color);
  cursor: pointer;
}

.hide-check{
  display: none;
}

.show-check{
  display: block;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.text-completed{
  text-decoration: line-through;
  text-decoration-color: var(--tertiary-color);
  color: var(--primary-color);
}

#trash-icon:hover{
  color: var(--red-color);
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count:inherit;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  /* 20% { transform: translate(-3px, 0px) rotate(1deg); } */
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  /* 80% { transform: translate(-1px, -1px) rotate(1deg); } */
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}